# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt


gunicorn==20.0.4 
dnspython==2.1.0
PyMongo==3.11.2
Flask-PyMongo==2.3.0 
Flask==1.1.2
python-dotenv==0.15.0
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability