{% extends 'base.html' %} {% block content %}
<p class="center-align margin-top-0 margin-bottom-0">Click a cover for more info</p>
<section class="row book-card-container">
  {% for book in books %}
  <div class="col s12 m6 l4 center-align">
    <div class="card">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator card-image-element" src="{{book.coverImageLink}}" alt="Book Cover for {{book.title}}" />
        </div>
        <div class="card-content">
          <div class="card-title activator grey-text text-darken-4">
            <p class="bold-title">{{book.title}}</p>
            <p>
              By {{book.author}}<i class="material-icons right open-reveal">more_vert</i>
            </p>
          </div>
          <hr class="hr-card" />
          <div class="row valign-wrapper">
            <div class="col s6">
              <p class="center-align">
                {% if book.reviews.reviews|length == 1 %}
                  <a href="/{{book.id}}"
                    class="waves-effect waves-light btn">{{book.reviews.reviews|length}} Review</a>
                {% else %}
                  <a href="/{{book.id}}"
                    class="waves-effect waves-light btn">{{book.reviews.reviews|length}} Reviews</a>                
                {% endif %}
              </p>
            </div>
            <div class="col s6">
              <div class="rating-container">
                  Rating: {{book.reviews.averageRating}}
              </div>
            </div>
          </div>
          <hr class="hr-card" />
          <div class="row">
            <div class="col s6">
              <p class="center-align">
                <a href="/add_review/{{book.id}}" class="waves-effect waves-light btn">Write
                  Review</a>
              </p>
            </div>
            <div class="col s6">
              <p class="center-align">
                <a href="{{book.purchaseLink}}" target="_blank" class="waves-effect waves-light btn"><i
                    class="material-icons left">shopping_cart</i>BUY NOW!</a>
              </p>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right close-reveal">close</i></span>
          <div class="book-info-container">
            <h4 class="center-align bold-title">{{book.title}}</h4>
            <p class="center-align">by {{book.author}}</p>
            <p class="center-align">{{book.genre}}
          </div>
          <div class="star-rating-container">
              Rating: {{book.reviews.averageRating}}
          </div>
          <p>{{book.summary}}</p>
          <hr />
          <p class="center-align">
                {% if book.reviews.reviews|length == 1 %}
                  <a href="/{{book.id}}"
                    class="waves-effect waves-light btn">{{book.reviews.reviews|length}} Review</a>
                {% else %}
                  <a href="/{{book.id}}"
                    class="waves-effect waves-light btn">{{book.reviews.reviews|length}} Reviews</a>                
                {% endif %}
          </p>
          <p class="center-align">
            <a href="/add_review/{{book.id}}" class="waves-effect waves-light btn">Write Review</a>
          </p>
          <p class="center-align">
            <a href="{{book.purchaseLink}}" target="_blank" class="waves-effect waves-light btn"><i
                class="material-icons left">shopping_cart</i>BUY NOW!</a>
          </p>
          <hr />
          <p class="center-align">
            <a href="{{url_for('view.edit_book', book_id=book.id)}}" class="waves-effect waves-light btn"><i
                class="material-icons left">create</i>Edit Book</a>
          </p>
          <hr />
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col s12">
      <p class="center-align"><a href="{{url_for('view.add_book')}}"
        class="waves-effect waves-light btn-large">Add Book</a></p>
    </div>
  </div>
</section>
{% endblock %}